/* General Styles */
body {
    background-color: #f4f9f4;
  }
  
  h1 {
    color: #4caf50;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th {
    background-color: #81c784;
    color: white;
    text-align: center;
  }
  
  td {
    text-align: center;
  }
  
  button {
    margin: 0 5px;
  }
  
  .alert {
    background-color: #e8f5e9;
    color: #388e3c;
  }
  